<!-- /templates/index.liquid -->

<hr>
<div class="grid text-center">

  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-half medium--one-half' %}
        <div class="grid__item text-center">
          {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
          {% endcomment %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p>
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
            {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}
</div>
<br>
<blockquote>
    These mallets are a completely new and unique addition to any professional player's mallet collection.
<cite>George Nickson, Principal Percussionist of the Sarasota Orchestra</cite>
</blockquote>
<br>
<blockquote>
    The Stone X mallets feel unlike anything else I've ever played. The sound quality is superb throughout the entire range of the instrument.
    <cite>Kyle Ritenauer, Principal Percussionist of The Hudson Valley Philharmonic</cite>
</blockquote>


<style>
    blockquote {
        font-family: Georgia, serif;
        font-size: 18px;
        font-style: italic;
        margin: 0.25em 0;
        padding: 0.25em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
        border-left:none;
    }
    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #7a7a7a;
    }
    blockquote cite {
        color: #999999;
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }
     
    blockquote cite:before {
        content: "\2014 \2009";
    }
</style>
