<!-- /templates/index.liquid -->

<div style="color:#228B22">
    Welcome to Stone Percussion! We expect to begin shipping our flagship StoneX xylophone mallet model mid-September. To reward our early adopters and true believers we are offering a <b>15%</b> discount for all orders placed before we send our first run to our warehoueses. When you pre-order, the promo code <b>STONE15</b> to take part in the special. We cannot wait for you to try these mallets.
<br>
--The Stone Percussion Founding Team
</div>

<hr>
<iframe src="https://player.vimeo.com/video/133921725" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

<hr>

{% comment %}
removing collection header
<h2>{{ 'homepage.sections.featured_title' | t }}</h2>
{% endcomment %}
<div class="grid text-center">

  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-half medium--one-half' %}
        <div class="grid__item text-center">
          {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
          {% endcomment %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p>
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
            {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}

  {% comment %}
    For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
  {% endcomment %}

  {% if isEmpty %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}

</div>

<hr>
<blockquote>
    These mallets are a completely new and unique addition to any professional player's mallet collection.
<cite>George Nixon, Principal Percussionist of the Sarasota Orchestra</cite>
</blockquote>
<blockquote>
    The StoneX mallets feel unlike anything else I've ever played. The sound quality is superb throughout the whole range of the instrument.
    <cite>Kyle Ritenauer, Principal Percussionist of The Hudson Valley Philharmonic</cite>
</blockquote>


<style>
    blockquote {
        font-family: Georgia, serif;
        font-size: 18px;
        font-style: italic;
        width: 500px;
        margin: 0.25em 0;
        padding: 0.25em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
        border-left:none;
    }
    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #7a7a7a;
    }
    blockquote cite {
        color: #999999;
        font-size: 14px;
        display: block;
        margin-top: 5px;
    }
     
    blockquote cite:before {
        content: "\2014 \2009";
    }
</style>
